[Desktop Entry]
Comment=A translucent theme for Plasma 5
Name=Inverse
X-KDE-PluginInfo-Author=yeyuguzhou
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=yeyuguzhou@aliyun.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GLP V3.0
X-KDE-PluginInfo-Name=Reversal
X-KDE-PluginInfo-Version=0.1
X-Plasma-API=5.0
